<h1>New Address</h1>


<%= form_tag "/accounts/new", method: :post do %>
  
  <div>
    Name: <input type="text" name="address">

  </div>
  
  

  <input type="submit" value="Add address">

<% end %>